body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(51, 51, 51);
}

.square {
    width: 100%;
    height: 100%;
}

#square-container {
    display: grid;
    gap: 0px;
}

.event-box {
    transition: transform 0.3s ease;
    background-color: rgb(191, 191, 191);
    position: relative; /* Ensure relative positioning for the pop-up */
}

.event-box:hover {
    transform: scale(1.4);
    z-index: 10;
}

.pop-up {
    display: none;
    position: absolute;
    top: -25px;
    left: 100%;
    margin-left: 10px; /* Add some space between the event box and the pop-up */
    width: 180px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 20;
    font-family: 'Lato', sans-serif;
}

.event-box:hover .pop-up {
    display: block;
}

.pop-up h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    color: #333;
}

.pop-up p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

button {
    font-size: 20px;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.10);
}

#home-button {
    transition: transform 0.3s ease;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    height: 50px;
    bottom: 5px;
    left: 5px;
}

#home-button:hover {
    transform: scale(1.4);
}
